<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Blank
    </ion-title>
    </ion-toolbar>
  <ion-toolbar color="success">
  <ion-searchbar (ionInput)="filterArray($event)"></ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content>
  <table id="table">
    <thead>
      <th>Name</th>
      <th>Mobilenumber</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of arr">
        <td>{{item.name}}</td>
        <td>{{item.mobilenumber}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
